<section id="question_section_<%= key %>" class="d-flex align-items-center" style="height: 100vh">
    <div class="container">
        <div class="row">
            <span class="mx-auto text-center col-lg-12 ">
                <% if (vote.required) { %>
                <span class="badge badge-pill badge-danger my-3">Required</span>
                <% } %>
                <h4><%= vote.question %></h4>
            </span>
            <!-- check vote.info is a non-empty string -->
            <p class="lead col-lg-12 text-center"><%- vote.info %></p>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 mt-3 question_form"
                id="question_form_<%= key %>"
                data-key="<%= key %>"
                data-response-type="<%= vote.response_type %>"
                data-display-as="<% if (vote.display_as) { %><%= vote.display_as %><% } else { %>default<% } %>">
                    <!-- inputs go here -->
                    <% switch (vote.response_type) { case "bool": %>
                    <% include ./generators/bool.ejs vote.response_scale key %>
                    <% break; case "multi": %>
                    <% include ./generators/multi.ejs vote.response_scale key %>
                    <% break; case "int":%>
                    <% include ./generators/numeric.ejs vote.response_scale key %>
                    <% break; case "text":%>
                    <% include ./generators/textual.ejs vote.response_scale key %>
                    <% break; case "rank":%>
                    <% include ./generators/ranked.ejs vote.response_scale key %>
                    <% break; case "info": break; default: %>
                    <h1 class="badge badge-danger">ERROR: No response scale generator found for '<%= vote.response_type %>'.</h1>
                    <% break; } %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button id="question_back_<%= key %>" type="button" class="btn btn-outline-secondary px-5 prev-section">Back</button>

                <% if (!vote.required && vote.response_type != 'info') { %> 
                <button id="question_skip_<%= key %>" type="button" data-key="<%= key %>" class="btn btn-outline-primary px-5 skip-response">Skip</button>
                <% } %>

                <button id="question_next_<%= key %>" type="button" data-key="<%= key %>" class="btn btn-primary px-5 <% if (vote.response_type != 'info') { %>record-response" disabled<% } else { %>start-survey" <% } %>>Next</button>
            </div>
        </div>
    </div>
</section>
