<% switch(vote.display_as) { case "dropdown": %>
<select class="form-control form-control-lg" name="question_<%= key %>" data-selector="select">
<% vote.response_scale.forEach((response, index) => { %>
<% id = `question_${key}_${index}`; %>
    <option id="<%= id %>"><%= response %></option>
<% }); %>
</select>
<% break; case "radio": default: %>
<div data-selector="input[type='radio']:checked">
<% vote.response_scale.forEach((response, index) => { %>
<div class="form-check mb-2" data-selector="input[type='radio']:checked">
    <% id= `question_${key}_${index}`; %>
    <input class="form-check-input" type="radio" name="question_<%= key %>" id="<%= id %>" value="<%= response %>" />
    <label class="form-check-label" for="<%= id %>">
        <%= response %>
    </label>
</div>
<% }); %>
</div>
<% break; } %>
